* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 24px;
}

html, body, #root, .App {
	height: 100%;
}

.font-1 {
	font-family: 'Montserrat', sans-serif;
}

.font-2 {
	font-family: 'Black Han Sans', sans-serif;
}

.font-3 {
	font-family: 'Montserrat', sans-serif;
}

.App {
	display: flex;
	flex-direction: row;
}

#appHeader {
	flex: 1;
	background-color: #f40;
	color: #fff;
	padding: 5px;
}

#chatList section {
	flex: 5;
}

#chatList footer {
	background-color: #f40;
	
}
#chatList footer a {
	text-decoration: none;
	color: #fff;
}
#chatList {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fa0;
}

.chatListItem {
	border-bottom: 1px solid #440;
	padding: 10px;
}

.chatListItem a {
	color: inherit;
	text-decoration: none;
}
#chatHeader {
	color: #fff;
	background-color: #fa0;
	padding: 15px 0 10px 15px;
}

#chatWindow {
	border-left: 1px solid #fff;
	position: relative;
	background-color: #ddd;
	flex: 2;
}

.message-block {
	margin: 10px;
	clear: both;
}

.message-bubble {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	background-color: #fff;
	max-width: 60%;
	float: left;
	/* font-size: 0.5rem; */
}

.message-bubble.you {
	float: right;
	background-color: #00a;
	color: #fff;
}

#message-form {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#message-form, .form-group, .input-group {
	width: 100% !important;
}

#message-form .btn {
	background-color: #f40;
}
